footer {
	#footer-bottom .et-social-icon a {
		color: $white-color;
	}

	.et-social-skype a.icon:before {
		content: '\e0a2';
	}

}

div.section--footer button.et_pb_contact_submit.et_pb_button:hover {
	background-color: $secondary-light !important;
}

body #page-container .et_pb_section .et_pb_contact_form_0.et_pb_contact_form_container.et_pb_module .et_pb_button:hover,
body #page-container .et_pb_section .et_pb_contact_form_1.et_pb_contact_form_container.et_pb_module .et_pb_button:hover {
	color: $primary-color !important;
}

div.section--footer p {
	color: $white-color !important;
}

div.section--footer a {
	font-size: 16px;
	color: $secondary-light !important;
}

div.section--footer img {
	max-width: 180px;
}

button.et_pb_contact_submit.et_pb_button {
	color: $secondary-light;
}

[id*="et_pb_contact_form_"] [id*="et_pb_contact_"] {
	background-color: #0000;
	border-bottom: $secondary-light 1px solid;
}

[id*="et_pb_contact_form_"] .et_pb_contact p input {
	color: $secondary-light;
	font-family: 'Times New Roman', Times, serif;
	font-size: 1rem;
}

[id*="et_pb_contact_form_"] ::-webkit-input-placeholder {
	/* Edge */
	color: $secondary-light !important;
	font-family: "Open Sans", sans-serif;
}

[id*="et_pb_contact_form_"] ::placeholder {
	/* Edge */
	color: $secondary-light !important;
	font-family: "Open Sans", sans-serif;
}

[id*="et_pb_contact_form_"] ::-ms-input-placeholder {
	/* Edge */
	color: $secondary-light !important;
	font-family: "Open Sans", sans-serif;
}

[class*="et_pb_contact_form_"] .et_pb_button {
	padding-left: 3em !important;
	padding-right: 3em !important;
	margin-top: 20px !important;
}

.section--footer.et_pb_section_6.et_pb_section,
.section--footer .et_pb_row_7,
.section--footer .et_pb_row_6,
.section--footer .et_pb_row_3,
.section--footer.et_pb_section_4.et_pb_section,
.section--footer.et_pb_section_3.et_pb_section,
.section--footer .et_pb_row_2,
.section--footer .et_pb_row_4 {
	background-color: $primary-color !important;
}



#main-footer #footer-bottom {
	background-color: $secondary--dark !important;
}

body #page-container .et_pb_section .et_pb_contact_form_0.et_pb_contact_form_container.et_pb_module .et_pb_button,
body #page-container .et_pb_section .et_pb_contact_form_1.et_pb_contact_form_container.et_pb_module .et_pb_button {
	color: $secondary-light !important;
}

.et_pb_section.section--footer {
	border-top: #beac8c solid 2px;
	z-index: 5;
}

.section--footer .et_pb_row_8 {
	background-color: $primary-color;
}
