footer {
	#footer-bottom .et-social-icon a {
		color: $white-color;
	}

	.et-social-skype a.icon:before {
		content: '\e0a2';
	}

}

div.section--footer button.et_pb_contact_submit.et_pb_button:hover {
	background-color: $secondary-light !important;
}

body #page-container .et_pb_section .et_pb_contact_form_0.et_pb_contact_form_container.et_pb_module .et_pb_button:hover {
	color: $primary-color !important;
}

div.section--footer p {
	color: $white-color !important;
}

div.section--footer a {
	font-size: 16px;
	color: $secondary-light !important;
}

div.section--footer img {
	max-width: 180px;
}
