header {
	.et_mobile_menu {
		border-color: $primary-color;
	}
}

a span.shop:after {
	font-family: 'ETmodules';
	content: "\e013";
	margin-left: 10px;
	margin-top: -4px;
	color: $primary-color;
	display: inline;
	font-size: 24px;

}

header #et-top-navigation {
	background-color: $white-color;
}

header li a {
	font-variant-caps: all-small-caps;
	font-size: 20px;
	font-weight: 400;
}

header li p {
	margin: 0 10px;
}

span.mobile_menu_bar.mobile_menu_bar_toggle:before {
	background: #fff;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
}

span.select_page,
span.mobile_menu_bar.mobile_menu_bar_toggle:before,
.mobile_menu_bar:before {
	color: $primary-color !important;
}

.mobile_menu_bar:before {
	font-weight: 900;
}

@media (max-width: 980px) {
	.mobile_nav.closed {
		display: none;
	}

	#main-header {
		height: 105px;
	}

	.et_mobile_menu li a {
		color: $black-color !important;
	}


	.et_header_style_split #main-header .mobile_nav {
		background-color: $white-color !important;
		padding: 0px !important;
	}

	.et_header_style_split .mobile_menu_bar {
		top: -62px;
		right: -30px;
		float: right;
	}

	.et_header_style_split .et_mobile_menu {
		top: 6px;
	}

	#top-menu li.current-menu-item a {
		color: $primary-color !important;
	}

	.mobile_menu_bar:before {
		font-size: 3rem;
	}

	#main-header,
	#main-header .et_mobile_menu {
		background-color: $white-color !important;
		color: $primary-color;
	}

	a span.shop:after {
		font-weight: 100;
	}
}

@media all and (min-width: 980px) and (max-width: 1440px) {
	a span.shop {
		margin-right: 10px !important;
		top: -8px !important;
		position: absolute;
	}
}

@media all and (min-width: 368px) and (max-width: 760px) {
	a span.shop {
		margin-left: 10px !important;
	}
}
