.history-section_1 .history-section_1--row h1 {
	color: $secondary--dark;
}

.history-section_1 .history-section_1--row span {
	color: $secondary-color;
}

.history-section_2.et_pb_section_1.et_pb_section {
	padding-top: 0px;
	padding-bottom: 0px;
}

.history-section_2 img {
	padding-top: 25%;
}

.page-awards-section-0 h1 {
	color: $secondary--dark;
}

.page-awards-section-0 span {
	color: $secondary-color;
}


.page-awards-section-3 h2 {
	color: $primary-color;
	font-family: 'Alice', Georgia, "Times New Roman", serif;
	font-size: 58px;
	letter-spacing: -3px;
	line-height: 1.1em;
}

.page-awards-section-3 ul li {
	font-size: 22px;
	letter-spacing: 0px;
	line-height: 1.8em;
}
