.page-geisha-section-0 h1 {
	color: $primary-color !important;
	font-weight: 900;
}

.page-geisha-section-0 a.et_pb_button {
	border: 1px solid $secondary-color;
	background-color: $secondary-color;
	color: $white-color;
	padding: 8px 60px;
}

.page-geisha-section-0 a.et_pb_button:hover {
	border: 1px solid $secondary-color;
	background-color: $primary-color;
	color: $white-color;
	padding: 8px 60px;
}

.page-geisha-section-2 .et_pb_module.et_pb_image.et_pb_image_0 {
	padding-top: 10%;
	padding-bottom: 69%;
	margin-top: 65%;
	margin-bottom: 0px !important;
}

.page-geisha-section-3 a {
	color: $primary-color;
}



.page-private-section-0 h1 {
	color: $primary-color;
}

.page-private-section-3 h2 {
	color: $white-color;
}

.page-private-section-3 p {
	color: $white-color;
	font-weight: 200;
}

.page-private-section-3 a {
	color: $white-color;
	background-color: $secondary-light;
}

.page-1500-section-0 h1 {
	color: $primary-color;
}

.page-1500-section-3 h2 {
	color: $white-color;
}

.page-1500-section-3 p {
	color: $white-color;
	font-weight: 200;
}

.page-1500-section-3 a {
	color: $white-color;
	background-color: $secondary-light;
}

.page-esmeralda-section-0 h1 {
	color: $primary-color;
}

.page-esmeralda-section-3 h2 {
	color: $white-color;
}

.page-esmeralda-section-3 p {
	color: $white-color;
	font-weight: 200;
}

.page-esmeralda-section-3 a {
	color: $white-color;
	background-color: $secondary-light;
}
