.page-palmira-section-0 h1 {
	color: $secondary-light;
}

.page-palmira-section-3 h2 {
	color: $white-color;
}

.page-palmira-section-3 p {
	color: $white-color;
	font-weight: 200;
}

.page-palmira-section-3 a {
	color: $white-color;
	background-color: $secondary-light;
}


.page-farms-section-0 h1 {
	color: $primary-color;
	letter-spacing: -3px;
	line-height: 1.1em;
}

.page-farms-section-1 h2 {
	color: $secondary--dark;
	letter-spacing: -3px;
	line-height: 1.1em;
}

.page-farms-section-2 h2 {
	color: $secondary-light;
	letter-spacing: -3px;
	line-height: 1.1em;
}

.page-farms-section-2 p {
	color: $white-color;
	font-weight: 100;
}

.page-farms-section-2 li {
	color: $white-color;
	padding: 0 25px;
	float: left;
	line-height: 2.3em;
	margin: 5px 10px;
	font-weight: 100;
}

.page-farms-section-2 a.et_pb_button {
	border: 1px solid $secondary-light;
	background-color: $secondary-color;
	color: $white-color;
	font-weight: 100;
	padding: 8px 60px;
}
