span.select_page {
	display: none !important;

}

[class^='page-home-section-'] p {
	font-size: 1rem !important;
}

.page-home-section-5 h2::before {
	left: 30px !important;
}


.page-home-section-1 .et_pb_row {
	width: 100% !important;
	max-width: 100% !important;
}

.et-pb-controllers a:hover {
	color: gray;
}


.page-home-section-3 .et_pb_column_3 img {
	max-width: 180px !important;
}



.page-home-section-3.et_pb_section .et_pb_row_3 .et_pb_column.et_pb_column_1_2.et_pb_column_5.et_pb_css_mix_blend_mode_passthrough {
	padding-left: 30px;
	padding-top: 30px;
}

.page-home-section-0 h1 {
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif !important;
	font-weight: 300;
	font-size: 2.8rem !important;
	margin-top: 2%;
}

.page-home-section-0 p {
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif !important;
	font-size: 1rem !important;
	color: #333;
	line-height: 1.5;
	font-weight: 400;
	width: 80%;
	margin: 0 auto;
}

@media all and (min-width: 368px) and (max-width: 760px) {
	[class*="page-home-section-1"] div.et_pb_slide_description h2.et_pb_slide_title:before {
		left: 0%;
		right: 0;
		margin: 0 auto;
		margin-bottom: 7px !important;
		text-align: center !important;
	}
}

@media (max-width: 980px) {

	.et_pb_slider.et_pb_module .et_pb_slides .et_pb_slide_description h2.et_pb_slide_title {
		text-align: center !important;
	}

	.page-home-section-0 h1 {
		font-size: 2rem !important;
	}

	.page-home-section-0 {
		margin-top: 10%;
		margin-bottom: -40%;
	}

	.page-home-section-2 p {
		font-weight: 500 !important;
	}

	.page-home-section-2.et_pb_with_background.et_section_regular {
		background-position-x: right !important;
	}

	.page-home-section-2 .text.et_pb_text_align_left div {
		color: $black-color !important;
		margin: 0%;
		padding: 35% 20px;
	}

	.page-home-section-2 div.et_pb_section.et_pb_section_1 {
		background-position-x: right;
	}



	.page-home-section-3 .et_pb_image_1 {
		margin-right: 0px !important;
	}

	.page-home-section-3 .et_pb_image_2 {
		margin-left: 0px !important;
	}

	.page-home-section-4.et_pb_row_4 .et_pb_text_inner {
		padding-left: 0;
	}

	.page-home-section-4 .et_pb_image_2 {
		margin-left: 0px !important;
	}

	.page-home-section-5.et_pb_section_3 {
		height: 100%;
	}

	.page-home-section-5 .rows-black .page-home-section-5--text p {
		font-size: 15px;
	}

	div.et_pb_section.page-home-section-5 {
		padding: 1;
	}

	.page-home-section-5 a.et_pb_button {
		padding: 8px 28px;
	}


	.page-home-section-6 .et_pb_row_6.et_pb_row {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

	.page-home-section-6 .et_pb_text_inner img {
		width: 100%;
	}

	.page-home-section-6 .et_pb_text_inner span {
		font-size: 15px;
		font-weight: 300;
		width: 100%;
	}

	.et_pb_row.et_pb_row_6.page-home-section--row {
		width: 90%;
		padding: 0 10%;
	}
}



li.centered-inline-logo-wrap {
	padding: 0px;
	margin: -3% 30px 0% 0px !important;
}

.page-home-section-1--title {
	display: none;
}

.page-home-section-1.et_pb_section {
	padding: 0px;
}

.page-home-section-1 .et_pb_slide_description,
.et_pb_slider_fullwidth_off .et_pb_slide_description {
	padding: 10% 0%;
}

.page-home-section-1 a.et-pb-arrow-next,
.page-home-section-1 a.et-pb-arrow-prev {
	font-size: 75px;
	z-index: 9;
}


.page-home-section-2 {
	min-height: 650px;
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}

.page-home-section-2 .text.et_pb_text_align_left div {
	color: $black-color;
	margin: 25% 10%;
	padding: 10% 0;
	font-size: 20px;
	text-align: left;
	font-weight: 900 !important;
}

.page-home-section-3.et_pb_section {
	padding: 0px 0;
	background-color: $primary-color;
}

.page-home-section-3.et_pb_section .et_pb_row_2 .et_pb_image_0 {
	padding-top: 10px;
	text-align: center;
}

.page-home-section-3.et_pb_section .et_pb_row_3 .et_pb_column.et_pb_column_1_2.et_pb_column_5.et_pb_css_mix_blend_mode_passthrough {
	padding-top: 30px;
}

.page-home-section-3.et_pb_section .et_pb_row_3 .et_pb_text_inner h2 {
	color: $white-color;
}

.page-home-section-3.et_pb_section .et_pb_row_3 .et_pb_text_inner p {
	color: $white-color;
	padding: 40px 0;
}

.page-home-section-3.et_pb_section a {
	color: $primary-color;
	background-color: $secondary-light;
	border-color: $secondary-light;
}

.page-home-section-3.et_pb_section a:hover {
	color: $secondary-light;
	background-color: none;
}

.page-home-section-3 .et_pb_row_4 .et_pb_image_0 {
	padding-top: 10px;
	text-align: center;
}

.page-home-section-3 .et_pb_row_4 .et_pb_text_inner {
	padding-top: 30px;
}


.page-home-section-3 .et_pb_row_4 .et_pb_text_inner h2 {
	color: $white-color;
}

.page-home-section-3 .et_pb_row_4 .et_pb_text_inner p {
	color: $white-color;
	padding: 40px 0;
}

.page-home-section-3 .et_pb_row_2.row-white img {
	max-width: 180px;
}

div h2 {
	position: relative;
}


.page-home-section-5 .page-home-textbox-left {
	background-color: $white-color;
	padding: 5% 0;
}

.page-home-section-5 .rows-black .page-home-section--title>div>h2 {
	color: $secondary--dark;
	padding-left: 30px;
}

.page-home-section-5 .rows-black .page-home-section--text p {
	color: $black-color;
	padding-left: 30px;
	padding-right: 40px;
	line-height: 1.8em;
}

.page-home-section-5 .rows-black .et_pb_button_module_wrapper.et_pb_button_2_wrapper.et_pb_module {
	padding-left: 30px;
}

.page-home-section-5 a.et_pb_button,
.page-home-section-6 a.et_pb_button {
	background-color: $primary-color;
	border: 1px solid;
	border-color: $primary-color;
	color: $secondary-light;
	font-weight: 400;
	padding: 8px 60px;
}

.page-home-section-5 a.et_pb_button:hover,
.page-home-section-6 a.et_pb_button:hover {
	background-color: $secondary-light;
	border: 1px solid;
	border-color: $secondary-light;
	color: $primary-color;
	font-weight: 400;
	padding: 8px 60px;
}

.page-home-section-6 .et_pb_text_inner span {

	float: left;
	font-size: 18px;
	width: 60%;
}

.page-home-section-6 .et_pb_text_inner img {
	width: 40%;
	float: left;
	padding-top: 10px;
	display: flex;
}

.page-home-section-6 img {
	max-width: 850px;
	width: 100%;
}


.page-home-section-6 a.et_pb_button {
	margin: 5% 0 0 0;
}

.page-home-section-6 .et_pb_button_module_wrapper.et_pb_button_3_wrapper {
	margin-top: 8%;
	clear: both;
}

.page-home-cards-icon {
	width: 72px;
	height: 72px;
	border: 5px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 35px;
	background-color: #efc963;
	position: absolute;
	top: -36px;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 99;
}

.page-home-cards-icon svg {
	color: #fff;
	width: 30px;
	height: 30px;
}

.page-home-cards-left,
.page-home-cards-right {
	max-width: 422px;
	background-color: #fff;
	height: 500px;
	display: block;
	margin-bottom: 5%;
}

.et_pb_section_2.et_pb_section.page-home-section-cards {
	background-color: #f7f7f7 !important;
}

.et_pb_row.et_pb_row_2.page-home-cards,
.et_pb_row.et_pb_row_3.page-home-cards {
	width: 70%;
}

.page-home-cards-text {
	margin: 30px 50px;
}

a.page-home-cards-buttom {
	width: 80%;
	background-color: #beac8c;
	color: #564133;
	border: 1px solid #beac8c;
}

@media all and (min-width: 368px) and (max-width: 760px) {
	[class*="page-home-section-1"] div.et_pb_slide_description h2.et_pb_slide_title:before {
		left: 0%;
		right: 0;
		margin: 0 auto;
		margin-bottom: 7px !important;
		text-align: center !important;
	}
}

@media (max-width: 980px) {

	.et_pb_row.et_pb_row_2.page-home-cards,
	.et_pb_row.et_pb_row_3.page-home-cards {
		width: 90%;
	}

	.page-home-cards-left,
	.page-home-cards-right {
		margin-bottom: 20%;
	}

	.page-home-section-2 p {
		font-weight: 500 !important;
	}

	.page-home-section-2.et_pb_with_background.et_section_regular {
		background-position-x: right !important;
	}

	.page-home-section-2 .text.et_pb_text_align_left div {
		color: $black-color !important;
		margin: 0%;
		padding: 35% 20px;
	}

	.page-home-section-2 div.et_pb_section.et_pb_section_1 {
		background-position-x: right;
	}



	.page-home-section-3 .et_pb_image_1 {
		margin-right: 0px !important;
	}

	.page-home-section-3 .et_pb_image_2 {
		margin-left: 0px !important;
	}

	.page-home-section-4.et_pb_row_4 .et_pb_text_inner {
		padding-left: 0;
	}

	.page-home-section-4 .et_pb_image_2 {
		margin-left: 0px !important;
	}

	.page-home-section-5.et_pb_section_3 {
		height: 100%;
	}

	.page-home-section-5 .rows-black .page-home-section-5--text p {
		font-size: 15px;
	}

	div.et_pb_section.page-home-section-5 {
		padding: 1;
	}

	.page-home-section-5 a.et_pb_button {
		padding: 8px 28px;
	}


	.page-home-section-6 .et_pb_row_6.et_pb_row {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

	.page-home-section-6 .et_pb_text_inner img {
		width: 100%;
	}

	.page-home-section-6 .et_pb_text_inner span {
		font-size: 15px;
		font-weight: 300;
		width: 100%;
	}

	.et_pb_row.et_pb_row_6.page-home-section--row {
		width: 90%;
		padding: 0 10%;
	}

}
