.page-palmira-section-0 h1 {
	color: $secondary-light;
}

.page-palmira-section-3 h2 {
	color: $white-color;
	font-size: 42px;
}

.page-palmira-section-3 p {
	color: $white-color;
	font-weight: 200;
}

.page-palmira-section-3 a {
	color: $white-color;
	background-color: $secondary-light;
}
